In [1]:
# Montar o Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from sqlalchemy import create_engine

# Configurar conexão com PostgreSQL (NeonDB)
DB_NAME = "neondb"
DB_USER = "neondb_owner"
DB_PASSWORD = "npg_ayeAjRZ8sPD7"
DB_HOST = "ep-rough-shape-a85bihtu-pooler.eastus2.azure.neon.tech"
DB_PORT = "5432"

# Criar a engine de conexão
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [4]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Definir o caminho do arquivo
caminho_arquivo = '/content/drive/MyDrive/06-Base Dados/01-Fluxo_Caixa/05-Dimensao/Input/Dimensao.xlsx'

# Especificar o nome da aba que deseja ler
nome_aba = "dim_categoria"  # Altere para o nome exato da aba no Excel
nome_tabela = "dim_categoria"  # Nome da tabela no PostgreSQL

# Ler apenas a aba específica
df_categoria = pd.read_excel(caminho_arquivo, sheet_name=nome_aba)

# Remover linhas completamente vazias
df_categoria = df_categoria.dropna(how='all')

# Renomear colunas (se necessário)
novos_nomes = {
    "idCategoria": "id_categoria",
    "Categoria": "nm_categoria",
    "Descrição": "desc_categoria",
    'Tipo': 'tipo_categoria'
}
df_categoria = df_categoria.rename(columns=novos_nomes)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df_categoria.to_sql(nome_aba, engine, schema="fluxo", if_exists="replace", index=False)

print(f"✅ Dados da aba '{nome_aba}' foram gravados na tabela '{nome_tabela}' no PostgreSQL.")

# ----------------------------------------------------------------------------
# Especificar o nome da aba que deseja ler
nome_aba = "dim_forma_pagto"  # Altere para o nome exato da aba no Excel
nome_tabela = "dim_forma_pagto"  # Nome da tabela no PostgreSQL

# Ler apenas a aba específica
df_forma_pagto = pd.read_excel(caminho_arquivo, sheet_name=nome_aba)

# Remover linhas completamente vazias
df_forma_pagto = df_forma_pagto.dropna(how='all')

# Renomear colunas (se necessário)
novos_nomes = {
    "idFormaPagto": "id_forma_pgto",
    "Forma Pagto": "nm_forma_pagto"
}
df_forma_pagto = df_forma_pagto.rename(columns=novos_nomes)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df_forma_pagto.to_sql(nome_aba, engine, schema="fluxo", if_exists="replace", index=False)

print(f"✅ Dados da aba '{nome_aba}' foram gravados na tabela '{nome_tabela}' no PostgreSQL.")


# ----------------------------------------------------------------------------
# Especificar o nome da aba que deseja ler
nome_aba = "dim_instituicao"  # Altere para o nome exato da aba no Excel
nome_tabela = "dim_instituicao"  # Nome da tabela no PostgreSQL

# Ler apenas a aba específica
df_instituicao = pd.read_excel(caminho_arquivo, sheet_name=nome_aba)

# Remover linhas completamente vazias
df_instituicao = df_instituicao.dropna(how='all')

# Renomear colunas (se necessário)
novos_nomes = {
    "idInstituicao": "id_instituicao",
    "Instituição": "nm_instituicao"
}
df_instituicao = df_instituicao.rename(columns=novos_nomes)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df_instituicao.to_sql(nome_aba, engine, schema="fluxo", if_exists="replace", index=False)

print(f"✅ Dados da aba '{nome_aba}' foram gravados na tabela '{nome_tabela}' no PostgreSQL.")

# ----------------------------------------------------------------------------
# Especificar o nome da aba que deseja ler
nome_aba = "dim_fluxo"  # Altere para o nome exato da aba no Excel
nome_tabela = "dim_fluxo"  # Nome da tabela no PostgreSQL

# Ler apenas a aba específica
df_fluxo = pd.read_excel(caminho_arquivo, sheet_name=nome_aba)

# Remover linhas completamente vazias
df_fluxo = df_fluxo.dropna(how='all')

# Renomear colunas (se necessário)
novos_nomes = {
    "idFluxo": "id_fluxo",
    "Fluxo": "nm_fluxo"
}
df_fluxo = df_fluxo.rename(columns=novos_nomes)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df_fluxo.to_sql(nome_aba, engine, schema="fluxo", if_exists="replace", index=False)

print(f"✅ Dados da aba '{nome_aba}' foram gravados na tabela '{nome_tabela}' no PostgreSQL.")

# ----------------------------------------------------------------------------
# Especificar o nome da aba que deseja ler
nome_aba = "dim_lancamento"  # Altere para o nome exato da aba no Excel
nome_tabela = "dim_lancamento"  # Nome da tabela no PostgreSQL

# Ler apenas a aba específica
df_lancamento = pd.read_excel(caminho_arquivo, sheet_name=nome_aba)

# Remover linhas completamente vazias
df_lancamento = df_lancamento.dropna(how='all')

# Renomear colunas (se necessário)
novos_nomes = {
    "idLancamento": "id_lancamento",
    "Lançamento": "nm_lancamento",
    'Tipo': 'tipo_lancamento'
}
df_lancamento = df_lancamento.rename(columns=novos_nomes)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df_lancamento.to_sql(nome_aba, engine, schema="fluxo", if_exists="replace", index=False)

print(f"✅ Dados da aba '{nome_aba}' foram gravados na tabela '{nome_tabela}' no PostgreSQL.")

# ----------------------------------------------------------------------------
# Especificar o nome da aba que deseja ler
nome_aba = "dim_produtos"  # Altere para o nome exato da aba no Excel
nome_tabela = "dim_produtos"  # Nome da tabela no PostgreSQL

# Ler apenas a aba específica
df_produtos = pd.read_excel(caminho_arquivo, sheet_name=nome_aba)

# Remover linhas completamente vazias
df_produtos = df_produtos.dropna(how='all')

# Renomear colunas (se necessário)
novos_nomes = {
    "idProduto": "id_produto",
    "NomeProduto": "nm_produto"
}
df_produtos = df_produtos.rename(columns=novos_nomes)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df_produtos.to_sql(nome_aba, engine, schema="fluxo", if_exists="replace", index=False)

print(f"✅ Dados da aba '{nome_aba}' foram gravados na tabela '{nome_tabela}' no PostgreSQL.")

# Fechar conexão
engine.dispose()

✅ Dados da aba 'dim_categoria' foram gravados na tabela 'dim_categoria' no PostgreSQL.
✅ Dados da aba 'dim_forma_pagto' foram gravados na tabela 'dim_forma_pagto' no PostgreSQL.
✅ Dados da aba 'dim_instituicao' foram gravados na tabela 'dim_instituicao' no PostgreSQL.
✅ Dados da aba 'dim_fluxo' foram gravados na tabela 'dim_fluxo' no PostgreSQL.
✅ Dados da aba 'dim_lancamento' foram gravados na tabela 'dim_lancamento' no PostgreSQL.
✅ Dados da aba 'dim_produtos' foram gravados na tabela 'dim_produtos' no PostgreSQL.

In [ ]:
df_forma_pagto.head()

   id_forma_pgto nm_forma_pagto
0              1       Dinheiro
1              2         Cheque
2              3         Débito
3              4        Crédito
4              5  Transferência

DIM_DATA

In [ ]:
import pandas as pd
import psycopg2

# Configurações do banco de dados
DB_CONFIG = {
    "dbname": "neondb",
    "user": "neondb_owner",
    "password": "npg_ayeAjRZ8sPD7",
    "host": "ep-rough-shape-a85bihtu-pooler.eastus2.azure.neon.tech",
    "port": "5432"
}

# Nome da tabela no PostgreSQL
nome_tabela = "dim_data"

# Conectar ao banco e obter a primeira e última data da tabela fato
try:
    conn = psycopg2.connect(**DB_CONFIG)
    cursor = conn.cursor()
    #cursor.execute("SELECT DATE_TRUNC('year', MIN(data_lanc))::DATE AS dt_inicio, (DATE_TRUNC('year', MAX(data_lanc)) + INTERVAL '1 year' - INTERVAL '1 day')::DATE AS dt_fim FROM fluxo.extrato_conta_corrente;")

    cursor.execute(
        """
        SELECT DATE_TRUNC('year', MIN(data_lanc))::DATE AS dt_inicio,
              (DATE_TRUNC('year', MAX(data_lanc)) + INTERVAL '2 year' - INTERVAL '1 day')::DATE AS dt_fim
        FROM fluxo.extrato_conta_corrente;
        """
    )

    dt_inicio, dt_fim = cursor.fetchone()
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Erro ao conectar ao banco: {e}")
    exit()

# Criar DataFrame de datas
date_range = pd.date_range(start=dt_inicio, end=dt_fim, freq='D')
df = pd.DataFrame(date_range, columns=['data'])

# Adicionar colunas úteis
df['ano'] = df['data'].dt.year
df['mes'] = df['data'].dt.month
df['dia'] = df['data'].dt.day
df['dia_semana'] = df['data'].dt.day_name()
df['num_dia_semana'] = df['data'].dt.weekday
df['trimestre'] = df['data'].dt.quarter
df['anomes'] = df['data'].dt.to_period('M').astype(str)
df['dia_util'] = df['num_dia_semana'].apply(lambda x: 1 if x < 5 else 0)
df['ultimo_dia_mes'] = df['data'] + pd.offsets.MonthEnd(0)

# Gravar no banco de dados PostgreSQL (substitui a tabela se já existir)
df.to_sql(nome_tabela, engine, schema="fluxo", if_exists="replace", index=False)

#df

826